<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title 'FishBlock' %}</title>
    {% block stylesheets %}
        {# Ajout de css #}
        {# <link href="{{ asset('bundles/blog/css/bootstrap.min.css') }}" rel="stylesheet"> #}
    {% endblock stylesheets %}
</head>
<body>

{% block content %}{% endblock %}

{% block javascripts %}
    {# Ajout du javascript #}
    {# <script src="{{ asset('bundles/blog/js/jquery.min.js') }}"></script> #}
{% endblock javascripts %}

</body>
</html>
