{# src/MainBundle/Resources/views/home.html.twig #}

{% include "MainBundle:Layout:head.html.twig" %}

{% block title %}
    FishBlock - {{ parent() }}
{% endblock title %}

{% block body %}

 <h1>FishbLock</h1>

    <hr>
{% endblock body %}
