{% extends 'MainBundle::base.html.twig' %}

{% block title %}{{ 'Home'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {% include "MainBundle:Layout:headerLogin.html.twig" %}
{% endblock %}

{% block content %}
    {# Caroussel #}
    <div class="registerVisit">
        {% include "MainBundle:Layout:register.html.twig" %}
        {% include "MainBundle:Layout:visit.html.twig" %}
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
