{% extends 'MainBundle::base.html.twig' %}

{% block title %}{{ 'Home'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="legalContent">
        <h1>{% trans %}Legal Notice{% endtrans %}</h1>

        <h2>{% trans %}Computers and Liberties{% endtrans %}</h2>
        {% trans %}In accordance with the law of 6 January 1978 relating to data processing, files and freedoms, fishblock.com has been registred with the CNIL.{% endtrans %}
        <br/>
        {% trans %}You have the right to access, modify, rectify and delete your personal data.{% endtrans %}
        {% trans %}You can exercise this right by contacting us by mail{% endtrans %} fishblock.lmbt@gmail.com {% trans %}or by post to the following address{% endtrans %} :
        <br/>
        FishBlock DL20 Loïc, Maxime, Benjamin et Thomas <br/>
        IMIE Nantes <br/>
        213 route de Rennes <br/>
        Immeuble Arpège <br/>
        44700 ORVAULT <br/>

        <h2>{% trans %}Site Editing{% endtrans %}</h2>
        {% trans %}Publisher{% endtrans %} fishblock.com : FishBlock DL20 Loïc, Maxime, Benjamin {% trans %}and{% endtrans %} Thomas <br/><br/>
        {% trans %}Address{% endtrans %} : <br/>
        IMIE Nantes <br/>
        213 route de Rennes <br/>
        Immeuble Arpège <br/>
        44700 ORVAULT <br/>
        <br/>
        {% trans %}Director of the publication{% endtrans %} : {% trans %}Gentlemen{% endtrans %} Loïc ARIF, Maxime CABON, Benjamin MENDY et Thomas CALLAUD <br/>

        <h2>{% trans %}Intellectual property{% endtrans %}</h2>
        {% trans %}The whole of this is subject to French and international legislation on copyright and intellectual property.{% endtrans %}
        {% trans %}All rights of reproduction are reserved, including iconographic and photographic representations.{% endtrans %}
        {% trans %}The reproduction, adaptation and/or translation of all or part of the site on any medium is strictly forbidden without the express authorization of the Director of the publication.{% endtrans %}
        <br/>

        <h2>{% trans %}Site modification{% endtrans %}</h2>
        {% trans %}The editorial team reserves the right to modify or correct the contents of this site and these legal notices at any time and without notice.{% endtrans %}
        <br/>

        <h2>{% trans %}Host{% endtrans %}</h2>
        {% trans %}The site fishblock.com is hosted by the society IMIE Nantes{% endtrans %} <br/>
        <br/>
        IMIE Nantes <br/>
        213 route de Rennes <br/>
        Immeuble Arpège <br/>
        44700 ORVAULT <br/>
        FRANCE
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
