
<h1>Mentions légales</h1>

<h2>Informatique et libertés</h2>
    Conformément à la loi de 6 Janvier 1978 relative à l'informatique, aux fichiers et aux libertés, "fishblock.com" a fait l'objet d'une déclaration auprés de la CNIL.
    <br/>
    Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent.
    Vous pouvez exercer ce droit en nous contactant par mail via fishblock.lmbt@gmail.com ou par courrier postal envoyé à l'adresse suivante :
    <br/>
    FishBlock DL20 Loïc, Maxime, Benjamin et Thomas <br/>
    IMIE Nantes <br/>
    213 route de Rennes <br/>
    Immeuble Arpège <br/>
    44700 ORVAULT <br/>

<h2>Edition du site</h2>
    Editeur du site "fishblock.com" : FishBlock DL20 Loïc, Maxime, Benjamin et Thomas <br/>
    Adresse : IMIE Nantes <br/>
    213 route de Rennes <br/>
    Immeuble Arpège <br/>
    44700 ORVAULT <br/>
    Directeurs de la publication : Monsieur Loïc ARIF, monsieur Maxime CABON, monsieur Benjamin MENDY et monsieur Thomas CALLAUD <br/>

<h2>Propriété Intellectuelle</h2>
    L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle.
    Tous les droits de reproduction sont réservés, y compris les représentations iconographiques et photographiques.
    La reproduction, adaptation et/ou traduction de tout ou partie de ce site sur un support quel qu'il soit, est formellement interdite sauf autorisation expresse du Directeur de la publication.
    <br/>

<h2>Modification du site</h2>
    L'équipe éditoriale se réserve le droit de modifier ou de corriger le contenu de ce site et de ces mentions légales à tout moment et ceci sans préavis.
    <br/>

<h2>Hébergeur</h2>
    Le site "fishblock.com" est hébergé par la société IMIE Nantes <br/>
    IMIE Nantes <br/>
    213 route de Rennes <br/>
    Immeuble Arpège <br/>
    44700 ORVAULT <br/>
    FRANCE