<table>
    <tr>
        <td>test inclusion</td>
    </tr>
    <tr>
        <td>
            <iframe src="{{ asset('public/img/4-DocumentationUtilisateur.pdf') }}" width="800" height="600" align="middle"></iframe>
        </td>
    </tr>
</table>