<style type="text/css">
    html {
        text-align: center;
        background-color: #505050;
        color: #FFFFFF;
    };
</style>

    <h1>{{'WEBSITE PLAN'|trans}}</h1>

<table>
    <tr>
        <td>
            <iframe src="{{ asset('public/img/4-DocumentationUtilisateur.pdf') }}" width="2360" height="1100" align="middle"></iframe>
        </td>
    </tr>
</table>