<h2>WEBSITE PLAN</h2>

<table>
    <tr>
        <td>
            <iframe src="{{ asset('public/img/4-DocumentationUtilisateur.pdf') }}" width="2360" height="1100" align="middle"></iframe>
        </td>
    </tr>
</table>