input {
    color: black !important;
}

#myCarousel {
    width: 350%;
}

.carousel-inner img {
    width: 100%; max-height: 1000px;
    min-height: 600px; min-width: 800px; overflow:hidden;
}

.error
{
    font-weight: bold;
    color: red;
    background-color: #262626;
}

.btn {
    color: white !important;
}

.btn-danger {
    width: 100%;
    font-weight: bolder;
}

.btn-info {
    width: 100%;
    font-weight: bolder;
}

.btn-primary {
    width: 100%;
    font-weight: bolder;
}

.suggestSerie {
    text-align: center;
    width: 100%;
    font-size: large;
    text-transform: uppercase;
}
.suggestSerieImage {
    width: 100%;
}