/*----------------------------------------------------------------------
Style pour la base du site (base.html.twig)
-----------------------------------------------------------------------*/

.baseColor {
    background-color: #f3f2f0;
}

html {
    background-color: #f3f2f0;
}

/*----------------------------------------------------------------------
Style pour le header du site (header.html.twig)
----------------------------------------------------------------------*/

header {
    margin: 15px 50px;
}

.headerBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerBlock >img {
    height: 150px;
    width: 300px;
}

/* header.html.twig -----------------
*/
.accountBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 22em;

    color: #ffffff;
    background-color: #ed3126;
    font-weight: bolder;
    font-size: larger;
}

.accountName {
    flex: 1;
    display: flex;
    align-items: center;
}

.accountNotification {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    width: 100%;
}

.accountNotification a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;

    color: #ffffff;
}

.accountNotification a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #686868;
}

/* headerLogin.html.twig -----------------
*/
.loginBlock {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 5px;

    width: 20em;

    color: #ffffff;
    background-color: #ed3126;
    font-weight: bolder;
}

.loginBlock form {
    display: flex;
    flex: 1;
    text-align: center;
}

.loginUsernamePassword {
    display: flex;
    flex-direction: column;

}

.loginUsernamePassword div:nth-child(2) {
    display: none;
}

#username {
    justify-content: center;
    color: #000000;
}
#password {
    color: #000000
}

.loginUsernamePassword label {
    justify-content: center;
}

.loginConnectionForgot {
}

.loginConnectionForgot a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    color: #ffffff;
}

.loginConnectionForgot a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #686868;
}

/* Bar de séparation du header -----------------
*/
.separationBar {
    margin: 20px 0;
    width: 100%;
    background-color: #686868;
}

.separationFat {
    height: 1em;
}

/* Pour la version responsive -----------------
*/
@media screen and (max-width: 900px) {
    .headerBlock {
        flex-direction: column;
    }

    header {
        margin: 10px 20px ;
    }

    .headerBlock >img {
        height: 125px;
        width: 250px;
    }

    .accountBlock {
        width: 100%;
        min-height: 5em;
    }

    .accountNotification a {
        height: 2.5em;
    }

    .separationBar {
        margin: 10px 0;
    }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
    .accountBlock {
        width: 70%;
        margin: auto;
    }
}

/*----------------------------------------------------------------------------------
Style pour le 'carousel'
----------------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------------
Style pour le block content
----------------------------------------------------------------------------------*/

.contentBlock {
    display: flex;
    justify-content: space-between;
    margin: 15px 50px;
}

/* Pour la version responsive -----------------
*/
@media screen and (max-width: 900px) {

    .contentBlock {
        flex-direction: column-reverse;
        margin: 10px 20px;
        /*height: 66vh;*/
    }
}

.serieCard img {
    max-width: 100%;
}

/*----------------------------------------------------------------------------------
Style pour le bloc menu du site
----------------------------------------------------------------------------------*/

.menuButtons {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 15%;
    height: 100vh;
    min-width: 10em;

    background-color: #686868;

    font-weight: bolder;
    font-size: larger;
}

.menuBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.menuBlock a {
    color: #ffffff;
}

.menuBlock a:hover {
    color: #ffffff;
    text-decoration: none;
}

.menuBlockSearch {
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.menuBlockSearch:hover {
    background-color: #fdb515;
}

.menuBlockFavorites {
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.menuBlockFavorites:hover {
    background-color: #58bf94;
}

.menuBlockWall {
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

}

.menuBlockWall:hover {
    background-color: #ef7a35;
}

.menuBlockChat {
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.menuBlockChat:hover {
    background-color: #00b6de;
}

.menuBlockAdmin {
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.menuBlockAdmin:hover {
    background-color: #ed3126;
}

.magicButton {
    display: none;

    width: 4em;
    height: 4em;
}

/* Pour la version responsive -----------------
*/
@media screen and (max-width: 900px) {

    .menuBlock {
        position: fixed;
        top: 0;
        right: -12em;
        height: 100vh;
        width: 16em;

        transition: right 0.7s ease-in-out;
    }

    .menuBlockExpanded {
        right: 0 !important;

    }

    .menuButtons {
        height: 100%;
        width: 12em;
    }

    .magicButton {
        display: block;
    }


}

/*----------------------------------------------------------------------------------
Style pour serieCard.html.twig
----------------------------------------------------------------------------------*/

.serieCard {
    margin: 0 1em;

}

.serieCard ul {
    list-style-type: none;
    padding-left: 0;
}

.serieCard h2 {
    background-color: #ef7a35;
}

.serieCard h2>a {

    color: #FFFFFF;
    text-decoration: none;
}

/*----------------------------------------------------------------------------------
Style pour detailSerie
----------------------------------------------------------------------------------*/

.detailSerie {
    margin: 0 1em;
}

.serieDescription h2 {
    background-color: #686868;
    color: #FFFFFF;
}

/*----------------------------------------------------------------------------------
Style pour episodeDetailSerie
----------------------------------------------------------------------------------*/

.episodesDetailSerie {
    margin: 0 1em;
}

.episodesDetailSerie h3 {
    background-color: #58bf94;
    color: #FFFFFF;
}

/*----------------------------------------------------------------------------------
Style pour criticDetailSerie
----------------------------------------------------------------------------------*/

.criticDetailSerieBlock {
    margin: 0 1em;
}

.criticDetailSerie h4 {
    background-color: #00b6de;
    color: #FFFFFF;
}

.criticDetailSerieBlock h3 {
    background-color: #ef7a35;
    color: #FFFFFF;
}

/*----------------------------------------------------------------------------------
Style pour le bloc liste des saisons
----------------------------------------------------------------------------------*/

.listSeason {
    display: flex;

    flex-direction: column;
    align-items: center;

    width: 16%;
    height: 100%;
    min-width: 15em;

    background-color: #686868;
    color: #ffffff;
}

.listSeason h2 {

}

/*----------------------------------------------------------------------------------
Style pour le bloc suggestion du site
----------------------------------------------------------------------------------*/

.suggestBlock {
    display: flex;

    flex-direction: column;
    align-items: center;

    width: 16%;
    height: 66vh;
    min-width: 15em;

    background-color: #686868;
    color: #ffffff;
}

/* Pour la version responsive -----------------
*/
@media screen and (max-width: 1000px) {

    .suggestBlock {
        display: none;
    }

}

/*----------------------------------------------------------------------------------
Style pour le bloc recherche du site
----------------------------------------------------------------------------------*/

.searchBlock {
    display: flex;

    flex-direction: column;
    align-items: stretch;

    width: 16%;
    height: 100vh;
    min-width: 15em;

    background-color: #686868;
    color: #ffffff;
}

.searchBlock form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;


    width: 100%;
    height: 80vh;
    padding: 10vh 0;
    font-size: larger;
    font-weight: bolder;
}

#searchActors {
    color: #000000;
}
#searchType {
    color: #000000;
}
#searchTitle {
    color: #000000;
}

.searchButton {
    margin: 10% 0;
    width: 100%;
    height: 15%;
    color: #FFFFFF;
    background-color: #58bf94;
    border: #686868;
}

/* Pour la version responsive -----------------
*/
@media screen and (max-width: 900px) {

    .searchBlock {
        width: 40%;
        max-height: 25em;
    }

    .searchBlock form {
        padding: 10% 0;
    }

    .contentBlock {
        align-items: center;
    }
}

/*----------------------------------------------------------------------------------
Style pour la div register / visit
----------------------------------------------------------------------------------*/

.registerVisit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    height: 100vh;
}

/*----------------------------------------------------------------------------------
Style pour le bloc register
----------------------------------------------------------------------------------*/

.registerBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20%;
    height: 100vh;
    min-width: 22em;

    margin: 0 0.5em;

    background-color: #686868;
    color: #ffffff;
}

/* Pour la version responsive -----------------
*/
@media screen and (max-width: 1000px) {

    .registerBlock {

    }
}

/*----------------------------------------------------------------------------------
Style pour le bloc "visiter le site"
----------------------------------------------------------------------------------*/

.visitBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 16%;
    height: 100vh;
    min-width: 10em;

    margin-left: 0.5em;

    background-color: #686868;
    color: #ffffff;
    font-size: large;
    font-weight: bolder;
}

.visitBlock a {
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: #ffffff;
}

.visitBlock a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #ef7a35;
}

/* Pour la version responsive -----------------
*/
@media screen and (max-width: 1000px) {

    .visitBlock {

    }

}

/*----------------------------------------------------------------------------------
Style pour la page Mentions légales
----------------------------------------------------------------------------------*/

.legalContent {

}

.legalContent h1 {
    color: #FFFFFF;
    background-color: #686868;
}

.title2 {
    width: 60vh;

    color: #FFFFFF;
    background-color: #00b6de;
}
.title3 {
    width: 60vh;

    color: #FFFFFF;
    background-color: #ef7a35;
}
.title4 {
    width: 60vh;

    color: #FFFFFF;
    background-color: #58bf94;
}
.title5 {
    width: 60vh;

    color: #FFFFFF;
    background-color: #ed3126;
}
.title6 {
    width: 60vh;

    color: #FFFFFF;
    background-color: #fdb515;
}

/*----------------------------------------------------------------------------------
Style pour le footer du site
----------------------------------------------------------------------------------*/

footer {
    margin: 15px 50px;
}

.separationThin {
    height: 0.3em;
}

.footerBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: nowrap;

}

.footerLegalNotice {
    display: flex;

    height: 100%;
    border-right: solid 2px black;
    padding: 0 10px;
    margin-bottom: 10px;
}

.footerLegalNotice a {
    color: #000000;
}
.footerLegalNotice a:hover {
    color: #000000;
}

.footerWebsitePlan {
    display: flex;
    flex: 1;

    height: 100%;
    padding: 0 10px;
    margin-bottom: 10px;
}

.footerWebsitePlan a {
    color: #000000;
}
.footerWebsitePlan a:hover {
    color: #000000;
}

.footerDevWeb {
    display: flex;
    flex-direction: column;
    line-height: 1em;

    padding: 0 10px;
}

/* Pour la version responsive -----------------
*/
@media screen and (max-width: 900px) {

    footer {
        position: relative;
        margin: 10px 20px ;
    }

}

