/*----------------------------------------------------------------------
Style pour la base du site (base.html.twig)
-----------------------------------------------------------------------*/

.baseColor {
    background-color: #f3f2f0;
}

html {
    background-color: #f3f2f0;
}

/*----------------------------------------------------------------------
Style pour le header du site (header.html.twig)
----------------------------------------------------------------------*/

header {
    margin: 15px 50px;
}

.headerBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerBlock >img {
    height: 150px;
    width: 300px;
}

/* accountBlock.html.twig -----------------
*/
.accountBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 22em;

    color: #ffffff;
    background-color: #ed3126;
    font-weight: bolder;
    font-size: larger;
}

.accountName {
    flex: 1;
    display: flex;
    align-items: center;
}

.accountNotification {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
}

.accountNotification a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 50%;

    color: #ffffff;
}

.accountNotification a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #686868;
}

/* loginBlock.html.twig -----------------
*/
.loginBlock {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 28em;

    color: #ffffff;
    background-color: #ed3126;
    font-weight: bolder;
}

.loginUsernamePassword {
    display: flex;
    flex-direction: column;
}

.loginUsernamePassword div:nth-child(2) {
    display: none;
}

.loginConnectionForgot a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 50%;

    color: #ffffff;
}

.loginConnectionForgot a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #686868;
}

/* Bar de séparation du header -----------------
*/
.separationBar {
    margin: 20px 0;
    height: 1em;
    width: 100%;
    background-color: #686868;
}

/* Pour la version responsive -----------------
*/
@media screen and (max-width: 900px) {
    .headerBlock {
        flex-direction: column;
    }

    .header {
        margin: 10px 20px ;
    }

    .headerBlock >img {
        height: 125px;
        width: 250px;
    }

    .accountBlock {
        width: 100%;
        min-height: 5em;
    }

    .accountNotification a {
        height: 2.5em;
    }

    .separationBar {
        margin: 10px 0;
    }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
    .accountBlock {
        width: 70%;
        margin: auto;
    }
}

/*----------------------------------------------------------------------------------
Style pour le bloc menu du site
----------------------------------------------------------------------------------*/

.menuBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 15%;
    height: 500px;
    margin-left: 50px;

    background-color: #686868;
    color: #ffffff;
    font-weight: bolder;
    font-size: larger;
}

.menuBlockSearch {
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.menuBlockSearch:hover {
    background-color: #fdb515;
}

.menuBlockFavorites {
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.menuBlockFavorites:hover {
    background-color: #58bf94;
}

.menuBlockWall {
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

}

.menuBlockWall:hover {
    background-color: #ef7a35;
}

.menuBlockChat {
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.menuBlockChat:hover {
    background-color: #00b6de;
}

.menuBlockAdmin {
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.menuBlockAdmin:hover {
    background-color: #ed3126;
}

/*----------------------------------------------------------------------------------
Style pour la suggestion/recherche du site
----------------------------------------------------------------------------------*/

.searchSuggestBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 15%;
    height: 500px;
    margin-right: 50px;

    background-color: #686868;
    color: #ffffff;
}

/*----------------------------------------------------------------------------------
Style pour le footer du site
----------------------------------------------------------------------------------*/