<div class="blockAccount">
    <div class="userName">
        username
    </div>
    <div class="notificationAccount">
        <a>{{ "Notifications"|trans }}</a>
        <a>{{ "Account"|trans }}</a>
    </div>
</div>