<div class="accountBlock">
    <div class="accountName">
        username
    </div>
    <div class=accountNotification">
        <a>{{ "Notifications"|trans }}</a>
        <a>{{ "Account"|trans }}</a>
    </div>
</div>