<div class="block_account">
    <div class="user_name">
        username
    </div>
    <div class="notification_account">
        <a>{{ "Notifications"|trans }}</a>
        <a>{{ "Account"|trans }}</a>
    </div>
</div>