
<div>
    <a href="{{ path('main_legal') }}" >{{ 'Legal Notice'|trans }}</a>
    |
    <a>{{ 'Website plan'|trans }}</a>
</div>

<div>
    <em>{{ 'Developpement and Webdesign'|trans }} :</em>
    <br/>
    Loïc, Maxime, Benjamin et Thomas
</div>
