
<div>
    <a href="{{ path('main_legal') }}" >Mentions légales</a>
    |
    <a>Plan du site</a>
</div>

<div>
    <em>Développement et Webdesign :</em>
    <br/>
    Loïc, Maxime, Benjamin et Thomas
</div>
