
<footer>

    <div class="separationBar separationThin">
    </div>

    <div class="footerBlock">
        <div class="footerLegalNotice">
            <a href="{{ path('main_legal') }}" >{{ 'Legal Notice'|trans }}</a>
        </div>

        <div class="footerWebsitePlan">
            <a href="../App/PDF.html.twig">{{ 'Website plan'|trans }}
        </div>

        <div class="footerDevWeb">
            <em>{{ 'Developpement and Webdesign'|trans }} :</em>
            <br/>
            Loïc, Maxime, Benjamin et Thomas
        </div>
    </div>
</footer>