
<header>
    <div class="headerBlock">
        <img src="{{ asset('public/img/logoFishblock.svg') }}">

        {# Block du formulaire de connexion
         Il est appelé si l'utilisateur n'est pas connecté #}
        {% include "MainBundle:Layout:loginBlock.html.twig" %}

        {# Block du Username: Noctifications / Compte
         Il est appelé si l'utilisateur est connecté #}
        {% include "MainBundle:Layout:accountBlock.html.twig" %}
    </div>

    <div class="separationBar separationFat">
    </div>

</header>