
<header class="site_header">

    <div class="block_header">
        <img src="{{ asset('public/img/logoFishblock.svg') }}">

        <div class="block_account">
            <div class="user_name">
                username
            </div>
            <div class="notification_account">
                <a>{{ "Notifications"|trans }}</a>
                <a>{{ "Account"|trans }}</a>
            </div>
        </div>
    </div>

    <div class="separation_bar">
    </div>

</header>