
<header>
    <div class="headerBlock">
        <img src="{{ asset('public/img/logoFishblock.svg') }}">

        <div class="accountBlock">
            <div class="accountName">
                {% username.user %}
            </div>
            <div class="accountNotification">
                <a>{{ "Notifications"|trans }}</a>
                <a>{{ "Account"|trans }}</a>
            </div>
        </div>
    </div>

    <div class="separationBar separationFat">
    </div>

</header>