<header>
    <div class="headerBlock">
        <img src="{{ asset('public/img/logoFishblock.svg') }}">

        <div class="loginBlock">
            <form>
                <div class="loginUsernamePassword">
                    {{ render(controller('FOSUserBundle:Security:login')) }}
                </div>

                <div class="loginConnectionForgot">
                    <em><a>{{ 'Forgot your account\'s password ?'|trans }}</a></em>
                </div>

            </form>
        </div>
    </div>

    <div class="separationBar separationFat">
    </div>

</header>


