<div class="listSeason">
    <h2>{{ serie.title }}</h2>
    <ul>
        {% for episode in episodes%}
            <li> {{ episode.title }}</li>
        {% else %}
            <li>Episodes not found</li>
        {% endfor %}
    </ul>
</div>
