<div class="listSeason">
    <h2>{{ serie.title }}</h2>
    <ul>

        {% for episode in episodes %}
            <li> {{ 'Season'|trans ~ ' ' ~ episode.seasonNumber }}</li>
            <p> {{ episode.episodeNumber ~ '-' ~ episode.title }} </p>
        {% endfor %}
    </ul>
</div>
