<div class="listSeason">
    <h2>{{ serie.title }}</h2>
    <ul>
        {% for episode in episodes %}
            <li> {{ 'Season'|trans ~ ' ' ~ episode.seasonNumber }}</li>
            <a href="{{ path('main_episode',{_locale: app.request.attributes.get('_locale'), idSerie: serie.id.__toString, idEpisode: episode.id }) }}"> {{ episode.episodeNumber ~ '-' ~ episode.title }} </a>
        {% endfor %}
    </ul>
</div>
