
<img src="{{ asset('public/img/logoFishblock.svg') }}" width="300">

<div>
    <form>
        <input/>
        <input/>
        <button>{{ 'Connection'|trans }}</button>
        <em><a>{{ 'Forgot your Account\'s password ?'|trans }}</a></em>
    </form>
</div>