
<div class="block_login">
    <form>
        <div class="login_username_password">
            <input/>
            <input/>
        </div>

        <div class="login_connection_forgot">
            <button>{{ 'Connection'|trans }}</button>
            <em><a>{{ 'Forgot your account\'s password ?'|trans }}</a></em>
        </div>

    </form>
</div>