<nav class="menuBlock" id="menuBlock">
    <button class="magicButton" id="magicButton">TEST</button>
    <div class="menuButtons">
        <a href="{{ path("main_search", {_locale: app.request.attributes.get('_locale')}) }}" class="menuBlockSearch">{{ 'Back'|trans }}</a>
    </div>
</nav>