<div class="registerBlock">
    <form class="register"
          action="{{ path('main_home', {'_locale': app.request.attributes.get('_locale')}) }}">{{ "Home"|trans }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

        <label for="username">Username</label></br>
        <input type="text" id="firstname" name="_firstname" placeholder="firstname" required="required"/>
        <input type="text" id="lastname" name="_lastname" placeholder="lastname" required="required"/>
        <input type="text" id="username" name="_username" placeholder="username" required="required"/>

        <label for="password">Password</label></br>
        <input type="password" id="password" name="_password" placeholder="password" required="required"/>
        <input type="password" id="passwordConfirmation" name="_passwordConfirmation" placeholder="passwordConfirmation" required="required"/>

        <label for="email">Mail</label></br>
        <input type="email" id="email" name="_email" placeholder="mail" required="required"/>

        <label for="birthday">Birthday</label></br>
        <input type="date" id="birthday" name="_birthday" placeholder="ex : 2001/12/01" required="required"/>

        <input type="submit" id="_submit" name="_submit" value="Log in"/>
    </form>

</div>