<div class="searchBlock">
    <form>
        <input type="text" name="serie's title" id="">
        <div></div>
        <div></div>
        <select name="actor" id=""></select>
        <select name="type" id=""></select>
    </form>

</div>