<div class="serieCard">

    <ul>
        <li><img src={{ 'http://thetvdb.com/banners/_cache/' ~ serie[0].poster }}/></li>
        <li><p>{{ serie.title}}></p></li>
        <li><p>{{ serie.content}}></p></li>

    </ul>
</div>