<div class="suggest">
    {# récupérer série aimée puis afficher deux autres séries #}
    <ul>
            <li> <img src="http://thetvdb.com/banners/_cache/"~ {{  }}></li>
            <li> {{ serieSuggest[1].title }}</li>
            <li> {{ serieSuggest[2].title }}</li>

    </ul>

</div>