<div class="suggest">
    {# récupérer série aimée puis afficher deux autres séries #}
    <ul>
        {% for serieSuggest in serieSuggests %}
            <li> {{ serieSggest[0].title }}</li>
            <li> {{ serieSggest[1].title }}</li>
            <li> {{ serieSggest[2].title }}</li>
        {% else %}
            <li>Pas de suggestion disponible pour cette série</li>
        {% endfor %}
    </ul>

</div>